* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

body {
    background-image: url("./pictures/background1.jpeg");
    background-position: center center;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: #464646; */
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    /* color: black */
}

#homepage:hover {
    cursor: pointer;
}

#main {
    width: 80vw;
    height: 100vh;
    /* font-family: "Arima Madurai", cursive; */
    /* background-color: rgb(141, 201, 221); */
    margin: 0;
    /* border-radius: 90px; */
    padding: 10px;
    color: white;
    /* border-color: black; */
    font-weight: bold;
    font-size: large;

}

#header {
    color: white;
}

h1 {
    /* color: white; */
    background-color: red;
    width: 170px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    text-align: center;
    margin-top: 20px;

}


#searchBoxContainer {
    margin-top: -10px;
    display: flex;
}

input {
    position: relative;
    top: 30px;
    height: 40px;
    border: 5px inset blue;
    background-color: yellow;
    font-size: large;
    font-style: italic;
    color: blue;
    font-weight: bold;

}

button {
    background-color: red;
    box-shadow: 5px 5px 5px white;
    color: white;
    font-size: large;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: bold;
    border-color: black;
}

button:hover {
    background-image: url('./pictures/resultBackground\ copy.png');
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 15px 15px 15px white;
    border-color: black;
    cursor: pointer;

}


#resultContainer {
    width: fit-content;
    /* width: 100%; */

    height: fit-content;


}

#pokeball {
    /* background-color: #000; */
    width: fit-content;
    height: 500px;

    /* border: 1px solid red; */
    padding: 0;
    margin: 0;

}

canvas {
    margin: 0;
    height: 500px;

    /* border: 1px solid blue; */
}

/* canvas:hover {
    cursor: pointer;
} */

.resultPokemon {
    width: fit-content;
    height: fit-content;
    background-color: none;
    background-image: url("./pictures/resultBackground.png");
    /* background-image: url("./pictures/pokedex.png"); */
    background-position: center;
    background-repeat: repeat-y;
    color: yellow;
    margin: auto;
    border-radius: 20px;
    text-shadow: 2px 2px blue;

}

.pokemonName {
    /* align-items: center; */
    display: block;
    /* margin-left: auto;
    margin-right: auto;
    width: 80% */
    /* width: fit-content; */
    text-align: center;
    font-size: xx-large;
    height: 100%;
    width: 90%;
    box-shadow: 3px 3px 3px black;
    border-radius: 25px;
    position: relative;
    top: 20px;
}


.pokemonPic {
    box-shadow: 10px 10px 10px black;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: none;
    /* position: relative;
    left: -150px;
    top: 140px; */

}

.pokemonPic:hover {
    box-shadow: 25px 25px 25px black;
    position: relative;
    top: -15px
}

.summary {
    height: fit-content;
    width: fit-content;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    color: yellow;
    /* color: white; */
    text-shadow: -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, 1px 1px 0 blue;
    position: relative;
    top: -35px
        /* background-color: lightblue; */

        /* position: relative;
    top: -100px;
    left: 650px; */

        /* background-color: white; */
        /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}

/* card detail title */
.stats {
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;

    /* background-color: azure */
    /* align-items: center; */
}

.statsList {
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;


    /* position: relative;
    left: -20px;
    top: 10px; */
    list-style-image: url('./pictures/Pokemon-Pokeball.png')
}

li {
    /* position: relative */
}

.dexNum {}

.rarity {}

.cardNum {}

.cardPrice {}

.priceUpdate {
    font-size: small;
    font-style: italic;
    position: relative;
    top: -5px
}

a {
    cursor: pointer;
    text-decoration: inherit
}

.mouseDown {
    cursor: grabbing;
}

.tipText {
    visibility: hidden;
    width: 100px;
    height: 20px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    position: relative;
    left: 120px;
    top: -15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    text-shadow: none;
    border: 3px inset white;

}


a:hover div.tipText {
    visibility: visible;

}